@font-face {
  font-family: config;
  src: url('fonts/config-medium.otf');
}
@font-face {
  font-family: config-light;
  src: url('fonts/config-light.otf');
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
#header-section{
  background-image: url('images/background-building.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.bg-light {
    background-color:rgba(255, 69, 0, 0.51)!important;
    box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.4), inset -5px -5px 20px rgba(0, 0, 0, 0.25);
}
.heading{
  font-family: 'config-light';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
}
.nav-icon{
  width: 100px;
  height: 60px;
}
.menu-icon{
  display: none;
  width: 120px;
  height: 73px;
  position: relative;
  left: -100px;
  z-index: 9998;
}
.nav-list{
  height: 100vh;
  padding-top: 4%;
}
#menu{
  background-color: #EDE8DA;
  position: absolute;
  z-index: 9997;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('images/menu.png');
  width: 40px;
  height: 40px;
}
.navbar-light .icon-close {
  background-image: url('images/close.png');
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  content: "X";
  color: orange;
  background-size: 100% 100%;
  z-index: 9998;
}
.navbar-light .navbar-nav .nav-link {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  color: black;
  font-size: 2.4em;
  padding: 12px 0;
}
.navbar-light .navbar-brand {
    padding-left: 2%;
    padding-top: 10px;
}
.navbar-light .navbar-toggler{
  color: transparent;
  border-color: transparent;
  outline: none;
  z-index: 9999
}
.navbar-nav .dropdown-menu{
  text-align: center;
  font-size: 18px;
  outline: none;
  background-color: #ede8da;
  border: 1px solid transparent;
}
.dropdown-item{
  font-family: 'config-light';
  font-size: 20px;
}
.dropdown-item:hover{
   color: rgba(0,0,0,.7);
   background-color:#ede8da;
}
.slider{
  padding: 5%;
}
 .flip-card {
  perspective: 1000px;
  outline: none;
  width: 400px;
  height: 400px;
}
.flip-card-inner {
  background-color: rgba(237, 232, 218, 0.6);
  box-shadow: -15px -15px 20px rgba(0, 0, 0, 0.3), inset -5px -5px 20px rgba(0, 0, 0, 0.47);
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-2:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  color: black;
}
.card{
  background-color: transparent;
  border: 1px transparent;
  position: absolute;
  left: 160px;
  z-index: 99;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.carousel-control-next-icon{
  background-image: url('images/next.png');
  width: 77px;
  height: 125px;
}
.carousel-control-prev-icon{
  background-image: url('images/prev.png');
  width: 77px;
  height: 125px;
}
.title-front{
  font-family: 'config-light';
}
.title-back{
  padding-bottom: 50px;
  font-family: 'config-light';
}
.card-para{
  margin-left: 15px;
  font-size: 20px;
  font-family: 'Open Sans';
}
.col{
  padding-left: 0;
  padding-right: 0;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.nav-link.dropdown-toggle.services{
  padding-bottom: 0;
}
.nav-link.dropdown-toggle.uber{
  padding-bottom: 0;
}
.dropdown-menu{
  padding: 0;
  margin: 0;
}
.dropdown-item{
  padding: 0;
}
.event{
  background-image: url('images/background-events.png');
  width: 100%;
  background-size: cover;
}
.row-event{
  padding: 5% 7%;
}








@media only screen and (min-width : 320px) and (max-width : 480px) {
.navbar{
  padding-right: 0;
}
.navbar-light .navbar-brand {
    padding-left: 0;
}
.nav-icon {
    width: 65px;
    height: 40px;
}
.heading{
  font-size: 17px;
}
.navbar-light .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}
.navbar-light .icon-close {
  width: 30px;
  height: 30px;
}
.menu-icon {
  width: 90px;
  height: 50px;
  left: -75px;
}
.nav-list{
  padding-top: 32%;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 25px;
}
.dropdown-item{
  font-size: 18px;
}
.card{
  width: 250px;
  height: 250px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0px);
}
.align-self-center{
  align-self: auto!important;
}
.w-100{
  width: auto!important;
  height: 90vh;
}
.carousel-control-next , .carousel-control-prev{
  align-items: flex-end;
  bottom: 100px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 25px;
  height: 40px;
}
.title-front{
  font-size: 20px;
}
.title-back {
    padding-bottom: 23px;
    font-size: 20px;
}
.card-para{
  margin-left: 8px;
  font-size: 13px;
}
}
